body { font-family: Arial, sans-serif; }
#previewCard { background: #ddd7d0; }
.list-group li { margin-bottom: 6px; }
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, #8a00d4, #ff7a00);
  background-attachment: fixed;
}

